<template>
  <div id="user-menu">
    <a-menu slot="content">
      <a-menu-item v-for="link in links" :key="link.id">{{ link.name }}</a-menu-item>
    </a-menu>
  </div>
</template>

<script>
export default {
  data () {
    return {
      links: [
        {
          id: 1,
          name: 'Profile'
        },
        {
          id: 2,
          name: 'Settings'
        }
      ]
    }
  }
}
</script>

<style lang="stylus">
#user-menu
  ul
    border none
</style>
