<template>
  <div id="user">
    <a-popover trigger="click" v-model="visible" placement="bottom" :class='{open: visible, closed: !visible}'>
      <template slot="content">
        <UserMenu />
      </template>
      <div class="user-data">
        <a-avatar :size="32" icon="user" /> Leopoldo Smith
      </div>
    </a-popover>
  </div>
</template>

<script>
import UserMenu from './UserMenu'

export default {
  data () {
    return {
      visible: false
    }
  },
  methods: {
    hide () {
      this.visible = false
    }
  },
  components: {
    UserMenu
  }
}
</script>

<style lang="stylus">
#user
  .user-data
    display flex
    flex-direction row
    flex-wrap: nowrap
    min-width: 200px
    justify-content: flex-end
    align-items: center
    cursor pointer
    .ant-avatar
      margin-right 10px
    &.closed
      &:after
        content: ''
        width: 0
        height: 0
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-top: 5px solid #000
        margin-left: 5px
    &.open
      &:after
        content: ''
        width: 0
        height: 0
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-bottom: 5px solid #000
        margin-left: 5px
        margin-top: -5px
</style>
