<template>
  <div class="header">
    <div class="headerRow">
      <img alt="Vue logo" src="../../assets/logo.png" width="110" />
      <div class="menuBlock">
        <a-menu
          mode="horizontal"
          :defaultSelectedKeys="['2']"
          :style="{ lineHeight: '64px' }"
          class="menu"
        >
        </a-menu>
      </div>
      <User />
    </div>
    <MainMenu />
  </div>
</template>

<script>
import User from '../user/User'
import MainMenu from '../MainMenu'

export default {
  data () {
    return {
      pages: [
        {
          id: 1,
          name: 'Home',
          link: '/home'
        },
        {
          id: 2,
          name: 'About',
          link: '/about'
        }
      ]
    }
  },
  components: {
    User,
    MainMenu
  }
}
</script>

<style lang="stylus">
.header
  font-size 1rem
  .headerRow
    display: flex
    align-items: center
    justify-content space-between
    padding: 0 50px
    .menuBlock
      width 100%
      ul.menu
        margin 0
        padding 0
        display: flex
        list-style-type: none
        justify-content: space-around
        li
          a
            font-size 1rem
            font-weight 700
            color #fff
</style>
