<template>
  <div class="about">
    <h1>This is an about page</h1>
    <List />
  </div>
</template>

<script>
import List from '../components/List'

export default {
  components: {
    List
  }
}
</script>

<style lang="stylus">
.about
  margin-top 15px
</style>
