<template>
  <div class="home">
    <SwiperComponent msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import SwiperComponent from '@/components/SwiperComponent.vue'

export default {
  name: 'home',
  components: {
    SwiperComponent
  }
}
</script>
