<template>
  <div id="list-component">
    <div class="input">
      <a-input-search :value=item @change=onChange @search=onSearch placeholder="Add new list item">
        <a-button slot="enterButton">Save</a-button>
      </a-input-search>
    </div>
    <ul>
      <li v-for="litem in list" :key="litem.id" @click="selectedItem(litem)">
        {{litem.item}}
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data () {
    return {
      item: ''
    }
  },
  computed: {
    ...mapGetters('list', {
      list: 'getAllList'
    })
  },
  methods: {
    onChange (e) {
      this.item += e.data
    },
    onSearch () {
      if (this.item) {
        this.addItem(this.item)
        this.item = ''
      }
    },
    selectedItem (val) {
      this.item = val.item
    },
    ...mapActions('list', [
      'addItem'
    ])
  }
}
</script>

<style lang="stylus">
  #list-component
    .input
      width 80%
      margin auto
    ul
      width 80%
      padding 0
      margin auto
      margin-top 15px
      list-style-type: none
      li
        background #ffffff
        border 1px solid #000
        margin 2px
        cursor pointer
        &:hover
          background #00ff00
          opacity 0.5
</style>
