<template>
  <div id="main-menu">
    <a-row>
      <a-col :span="18">
          <a-menu
          theme="dark"
          mode="horizontal"
          :defaultSelectedKeys="['2']"
        >
          <a-menu-item v-for="item in menu" :key="item.id">
            <a-badge v-if="item.badge" :count=item.badge>{{ item.name }}</a-badge>
            <span v-else>{{ item.name }}</span>
          </a-menu-item>
        </a-menu>
      </a-col>
      <a-col class="lang-block" :span="6" >
        <a-select defaultValue="en" style="width: 110px" :suffixIcon="caretDown" >
          <a-select-option value="en"><img class="lang-logo" src="../assets/usa.png" alt="us-en-lng"/>US-En</a-select-option>
          <a-select-option value="ua"><img class="lang-logo" src="../assets/ua.png" alt="us-en-lng"/>UA-ua</a-select-option>
        </a-select>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {
  data () {
    return {
      menu: [
        {
          id: 1,
          name: 'Dashboard',
          link: '/1',
          badge: 0
        },
        {
          id: 2,
          name: 'Catalogue',
          link: '/2',
          badge: 0
        },
        {
          id: 3,
          name: 'Livestream',
          link: '/3',
          badge: 0
        },
        {
          id: 4,
          name: 'Leaderboard',
          link: '/4',
          badge: 0
        },
        {
          id: 5,
          name: 'Promotions',
          link: '/5',
          badge: 0
        },
        {
          id: 6,
          name: 'Messages',
          link: '/6',
          badge: 5
        },
        {
          id: 7,
          name: 'Help',
          link: '/7',
          badge: 0
        }
      ]
    }
  },
  methods: {
    caretDown () {
      return (
        <template>
          <a-icon type='caret-down' />
        </template>
      )
    }
  }
}
</script>

<style lang="stylus">
.lang-logo
  width 16px
  margin-right 5px
.anticon-caret-down
  color #fff

#main-menu
  padding 0 50px
  font-weight 900
  background #001529
  .ant-select-selection
    background rgba(0, 0, 0, 0)
    color #fff
    border none
  .ant-row
    width 100%
    display flex
    flex-direction row
    align-items center
  .ant-menu-item-selected
    background #77BA31
  li
    span
      font-size 1rem
      text-transform uppercase
  .lang-block
    display flex
    justify-content flex-end
</style>
