<template>
  <div class="custom-swiper">
      <swiper :options="swiperOption">
        <swiperSlide>
          <img src="http://files.itworld.co.kr/archive/image/2018/03/asrock-phantom-gaming-100753434-large.jpg" alt="111" />
          <div class="overflow-block">
            <div class="block-title">
              A Little Knowledge Goes a Long Way
            </div>
            <div class="block-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="block-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="actions">
              <button class="btn">Enroll now</button>
              <button class="btn">View more</button>
            </div>
          </div>
        </swiperSlide>
        <swiper-slide><img src="https://i.pinimg.com/originals/7b/74/11/7b74116e5cc44951dd71d1e21ce98949.jpg" alt="111" /></swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  props: {
    msg: String
  },
  data () {
    return {
      swiperOption: {
        slidesPerView: 1,
        pagination: {
          el: '.swiper-pagination'
        }
      }
    }
  },
  components: {
    swiper,
    swiperSlide
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
img
  width inherit
  height 700px

.overflow-block
  position absolute
  top 20%
  left 5%
  max-width 700px
  background rgba(0, 0, 0, 0.7)
  padding 20px
  .block-title
    color #fff
    text-transform uppercase
    font-weight 600
    font-size 1.8rem
    justify-content flex-start
    display flex
  .block-desc
    color #fff
    font-size 1.1rem
    text-align left
    margin 15px 0
  .actions
    margin-top 15px
    float left
    .btn
      font-size 1.4rem
      padding 5px 15px
      border 1px solid #77BA31
      cursor pointer
      &:nth-child(1)
        background #77BA31
        color #fff
      &:nth-child(2)
        margin-left 40px
        background #000
        color #77BA31
      &:hover
        opacity 0.5

.custom-swiper
  .swiper-container
    .swiper-pagination
      display flex
      justify-content flex-end
      padding-right 70px
    span
      border 1px solid #ffffff !important
      background #fff !important
</style>
