<template>
  <div id="app">
    <a-layout class="layout">
      <a-layout-header>
        <CustomHeader />
      </a-layout-header>
      <a-layout-content>
        <router-view/>
      </a-layout-content>
    </a-layout>
  </div>
</template>

<script>
import CustomHeader from './components/layout/Header'

export default {
  components: {
    CustomHeader
  }
}
</script>

<style lang="stylus">
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  height 100vh
  .ant-layout-header
    background #fff
    height auto
    padding 0
    .ant-menu-horizontal
      border none
  .layout
    height 100vh
</style>
